.contacts {
  padding-top: 35px;
  padding-bottom: 40px;
  font-size: 15px;
  line-height: 30px;
  color: $contacts-color;
}

.contacts__container {
  @include container;
  display: flex;
  flex-wrap: wrap;

  &--btn {
    justify-content: center;
  }
}

.contacts__title {
  width: 100%;
  margin: 0;
  margin-bottom: 26px;
  font-size: 18px;
  line-height: 30px;
  color: $contacts-title-color;
}

.contacts__row {
  display: flex;
  flex: 1 0 260px;
  max-width: 330px;
  margin: 0;
  margin-bottom: 30px;
}

.contacts__row {
  &:last-child {
    margin-bottom: 37px;
  }
}

.contacts__label {
  display: block;
  padding-right: 30px;
}

.contacts__address {
  font-style: normal;
}

.contacts__map {
  height: 457px;
  margin-bottom: 39px;
}

.contacts__btn {
  min-width: 260px;
}
