.contacts {
  padding-top: 50px;
  padding-bottom: 40px;
  font-size: 15px;
  line-height: 30px;
  color: $contacts-color;
}

.contacts__container {
  @include container;
  display: flex;
  flex-direction: column;
}

.contacts__title {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  color: $contacts-title-color;
}

.contacts__row {
  margin: 0;
  display: flex;
}

.contacts__row {
  &:last-child {
    margin-bottom: 40px;
  }
}

.contacts__label {
  display: block;
  padding-right: 30px;
}

.contacts__address {
  font-style: normal;
}

.contacts__map {
  height: 457px;
  margin-bottom: 40px;
}

.contacts__btn {
  margin: 0 auto;
}
