.features {
  @include container;
  padding-top: 30px;
  font-weight: 700;
}

.features__title {
  font-size: 25px;
  line-height: 30px;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.features__item {
  flex: 1 0 50%;
  min-width: 260px;
  margin-bottom: 25px;
  padding-top: 55px;
  font-size: 17px;
  line-height: 20px;
}
