.goods-type {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.goods-type__link {
  position: relative;
  display: block;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 30px;
  color: $goods-type-color;
  font-weight: 700;
  text-decoration: none;
  padding-right: 100px;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-47%);
  }

  &--interior {
    background-color: $goods-type-interior;
  }

  &--interior::after {
    right: 36px;
    width: 40px;
    height: 62px;
    background-image: url("/img/icon-interior.svg");
  }

  &--toys {
    background-color: $goods-type-toys;
  }

  &--toys::after {
    right: 28px;
    width: 60px;
    height: 60px;
    background-image: url("/img/icon-toy.svg");
  }
}

@media screen and (min-width: 768px) {
  .goods-type {
    display: flex;
    padding: 0 6.5%;
  }

  .goods-type__item {
    flex: 1 0 50%;
  }

  .goods-type__link {
    padding-top: 28px;
    padding-left: 35px;
    font-size: 20px;
    line-height: 30px;

    &--toys::after {
      right: 34px;
    }
  }
}
