.main-header {
  &--index .main-header__promo {
    padding-top: 70px;
    padding-bottom: 0;
    background-image: url("/img/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center -18px;
    background-color: transparent;
  }

  &--index .main-header__title {
    margin-bottom: 122px;
  }
}

.main-header__promo {
  background-color: $main-header-promo;
  padding-top: 70px;
  padding-bottom: 76px;
}

.main-header__title {
  text-align: center;
  margin: 0;
  padding-right: 10%;
  padding-left: 10%;
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  color: $main-header-title;
}

@media screen and (min-width: 768px) {
  .main-header {
    &--index .main-header__promo {
      margin-top: -58px;
      padding-top: 153px;
      background-image: url("/img/hero-mobile@1x.jpg");
      background-repeat: no-repeat;
      background-position: center -18px;
    }

    &--index .main-header__title {
      margin-bottom: 373px;
    }
  }

  .main-header__promo {
    margin-top: -58px;
    padding-top: 95px;
    padding-bottom: 78px;
    border-top: 1px solid $main-header-border;
  }

  .main-header__title {
    font-size: 43px;
    line-height: 50px;
  }
}

@media screen and (min-width: 1150px) {
  .main-header {
    &--index .main-header__promo {
      margin-top: -58px;
      padding-top: 153px;
      background-image: url("/img/hero-mobile@1x.jpg");
      background-repeat: no-repeat;
      background-position: center -18px;
    }

    &--index .main-header__title {
      margin-bottom: 359px;
    }
  }

  .main-header__promo {
    border-top: 1px solid $main-header-border;
    margin-top: -58px;
    padding-top: 95px;
    padding-bottom: 98px;
  }

  .main-header__title {
    font-size: 53px;
    line-height: 57px;
  }
}
