.main-nav {
  position: relative;
  border-bottom: 1px solid $main-nav-border;
  border-top: 1px solid $main-nav-border;
  color: $main-nav-color;
}

.main-nav__btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 78px;
  width: 78px;
  font-size: 0;
  background: none;
  border: none;
  background-image: url("/img/icon-menu-open.svg");
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;

  &:hover {
    opacity: .3;
  }
}

.main-nav__logo {
  padding-top: 21px;
  padding-bottom: 22px;
  justify-content: center;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-nav__link {
  display: block;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 76px;
  text-decoration: none;
  color: $main-nav-color;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;

  &:hover {
    opacity: .6;
  }

  &:active {
    opacity: .3;
  }
}

.main-nav__delivery {
  display: none;
}

@media screen and (max-width: 767px) {
  .main-nav__list {
    display: none;
    position: absolute;
    z-index: 20;
    width: 100%;

    &--menu {
      top: 100%;
    }

    &--user-block {
      top: calc(100% + 156px);
    }
  }

  .main-nav__item {
    border-top: 1px solid $main-nav-border;
    background-color: $main-nav-item;
  }

  .main-nav--opened .main-nav__btn {
    background-image: url("/img/icon-menu-close.svg");
  }

  .main-nav--opened .main-nav__list {
    display: block;
  }

  .main-nav--opened .main-nav__list--info {
    display: none;
  }

  .main-nav--no-js .main-nav__btn {
    display: none;
  }

  .main-nav--no-js .main-nav__list {
    position: static;
    display: block;
  }

  .main-nav--no-js .main-nav__list--info {
    position: static;
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .main-nav {
    border-top: none;
    border-bottom: none;
  }

  .main-nav__container {
    @include container;
    display: flex;
    flex-wrap: wrap;
  }

  .main-nav__logo {
    justify-content: flex-start;
    order: 1;
  }

  .main-nav__list {
    display: flex;

    &--user-block {
      justify-content: flex-end;
      flex: 1 0 60%;
      order: 2;
    }

    &--menu {
      flex: 1 0 60%;
      order: 3;
    }

    &--menu .main-nav__item {
      padding-right: 35px;
    }

    &--menu .main-nav__item:last-child {
      padding-right: 0;
    }

    &--menu .main-nav__link {
      padding-left: 0;
    }

    &--info {
      display: none;
    }
  }

  .main-nav__btn {
    display: none;
  }

  .main-nav__item {
    display: flex;
    align-items: center;
  }

  .main-nav__link {
    font-size: 15px;
    padding-top: 17px;
    padding-bottom: 17px;
  }

  .main-nav__delivery {
    display: block;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 0;
    color: $main-nav-delivery;
    font-size: 15px;
    font-weight: 400;
    order: 4;
  }
}

@media screen and (min-width: 1150px) {
  .main-nav__logo {
    flex: 1 0 auto;
    justify-content: center;
    order: 2;
  }

  .main-nav__container {
    padding: 0 4.348%;
  }

  .main-nav__list {
    &--menu {
      flex: 1 0 39.13%;
      order: 1;
      font-size: 17px;
    }

    &--menu .main-nav__item {
      padding-left: 35px;
      border-right: 1px solid $main-nav-border;
      font-size: 17px;
    }

    &--menu .main-nav__item:first-child {
      padding-left: 0;
    }

    &--menu .main-nav__item:last-child {
      border: none;
    }

    &--menu .main-nav__link {
      font-size: 17px;
    }

    &--user-block {
      flex: 1 0 39.13%;
      order: 3;
    }

    &--info {
      display: flex;
      flex: 1 0 60%;
      order: 4;
    }

    &--info .main-nav__item {
      padding-right: 30px;
      padding-left: 30px;
    }

    &--info .main-nav__item:first-child {
      padding-left: 0;
    }

    &--info .main-nav__item:last-child {
      padding-right: 0;
    }

    &--info .main-nav__link {
      padding-left: 0;
    }
  }

  .main-nav__delivery {
    order: 5;
  }
}
