.main-header__promo {

  background-color: $main-header-promo;

  &--index {
    background-image: url("/img/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center -18px;
    background-color: $main-header-promo-index;
  }
}

.main-header__title {
  padding-right: 10%;
  padding-left: 10%;
  text-align: center;
  margin: 0;
  margin-top: 70px;
  margin-bottom: 122px;
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  color: $main-header-title;
}

@media screen and (min-width: 768px) {
  .main-header__promo {
    padding: 0 6.5%;
    &--index {
      background-image: url("/img/hero-mobile@1x.jpg");
    }
  }

  .main-header__title {
    margin-top: 95px;
    margin-bottom: 340px;
    font-size: 43px;
    line-height: 50px;
  }
}
