.product-spec {
  margin: 0 auto;
  border-collapse: collapse;
  width: 100%;
  font-size: 15px;
  line-height: 20px;
  color: $product-spec-color;
}

.product-spec tr {
  border-bottom: 1px solid $product-spec-border;
}

.product-spec td {
  padding-top: 7px;
  padding-bottom: 7px;

  &:first-child {
    padding-right: 9px;
  }
}

@media screen and (min-width: 768px) {
  .product-spec {
    max-width: 335px;
  }
}
