.textfield {
  display: flex;
  flex-direction: column;
}

.textfield__input {
  height: 50px;
  border: none;
  border-bottom: 2px solid #000;
  font-size: 17px;
  line-height: normal;
  color: $textfield-color;
  background-color: transparent;

  &::-webkit-input-placeholder {
    color: rgba($textfield-color, .3);
  }

  &::-moz-placeholder {
    color: rgba($textfield-color, .3);
  }

  &:-ms-input-placeholder {
    color: rgba($textfield-color, .3);
  }

  &:-moz-placeholder {
    color: rgba($textfield-color, .3);
  }
}

.textfield__label {
  font-weight: 700;
}

.textfield__textarea {
  min-height: 143px;
  padding: 12px 15px;
  border: 2px solid $textfield-textarea-border;
  resize: none;
}

@media screen and (min-width: 768px) {
  .textfield {
    flex-direction: row;
    align-items: center;
  }

  .textfield__label {
    margin-right: 25px;
    font-size: 19px;
  }

  .textfield__input {
    flex-grow: 1;
    padding-right: 17px;
    padding-left: 17px;
    font-size: 19px;
  }

  .textfield__textarea {
    flex-grow: 1;
    font-size: 19px;
  }
}
