.user-block {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: $user-block-color;
}

.user-block__item {
  display: flex;
  align-items: center;
  border-top: 1px solid $user-block-border;
  background-color: $user-block-item;
}

.user-block__link {
  display: block;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 76px;
  text-decoration: none;
  color: $user-block-color;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;

  &:hover {
    opacity: .6;
  }

  &:active {
    opacity: .3;
  }
}

@media screen and (min-width: 768px) {
  .user-block {
    display: flex;
  }

  .user-block__item {
    border-top: none;
    background-color: transparent;

    &--search {
      border-left: 1px solid $user-block-border;
      border-right: 1px solid $user-block-border;
    }
  }

  .user-block__link {
    &--search {
      font-size: 0;
      padding: 0;
      width: 84px;
      height: 88px;
    }

    &--cart {
      padding-left: 82px;
    }
  }
}
