// Colors variables
$color-white: #ffffff;
$color-black: #000000;
$color-diesel: #010000;
$color-gallery: #ececec;
$color-seashell: #f1f1f1;
$color-downy: #63d1bb;
$color-puerto-rico: desaturate(darken(#63d1bb, 5), 6);


// Color settings
$page-color: $color-black;

$main-header-promo: $color-seashell;
$main-header-promo-index: $color-white;
$main-header-title: $color-diesel;

$main-nav-border: $color-gallery;
$main-nav-color: $color-black;

$user-block-border: $color-gallery;
$user-block-color: $color-black;
$user-block: $color-white;

$goods-type-color: $color-white;
$goods-type-interior: $color-downy;
$goods-type-toys: $color-puerto-rico;



// General
$font: "Open Sans", "Arial", sans-serif;
$page-font-size: 15px;

