// Colors variables
$color-black: #000000;
$color-white: #ffffff;
$color-gallery: #ececec;


// Color settings
$page-color: $color-black;
$main-nav-border: $color-gallery;
$main-nav-color: $color-black;
$user-block-border: $color-gallery;
$user-block-color: $color-black;
$user-block-bg: $color-white;




// General
$font: "Open Sans", "Arial", sans-serif;
$page-font-size: 15px;

