@import "normalize";
@import "page";
@import "main-header";
@import "logo";
@import "main-nav";
@import "goods-type";
@import "best-product";
@import "product-spec";
@import "btn";
@import "features";
@import "reviews";
@import "review";
@import "contacts";
@import "main-footer";
@import "social-links";
@import "social-link";
@import "copyright";
@import "modal";
@import "order-form";
@import "form-group";
@import "checkbox";
@import "radio";
@import "textfield";
