.best-product {
  position: relative;
}

.best-product__container {
  padding-top: 27px;
  padding-bottom: 43px;

  @include container;
}

.best-product__col {
  &--desc {
    margin-bottom: 26px;
  }

  &--img-holder picture {
    display: flex;
    justify-content: center;
  }

  &--price {
    text-align: center;
  }
}

.best-product__title {
  margin-bottom: 19px;
}

.best-product__name {
  margin: 0;
  margin-bottom: 5px;

  font-size: 25px;
  line-height: 30px;
}

.best-product__period {
  font-weight: 700;
  font-size: 17px;
  line-height: 17px;
  color: $best-product-period;
  text-transform: uppercase;
}

.best-product__desc {
  margin: 0;
  margin-bottom: 17px;

  font-size: 15px;
  line-height: 24px;
  color: $best-product-color;
}

.best-product__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.best-product__price {
  display: block;
  margin-top: 25px;
  margin-bottom: 25px;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: $best-product-color;
}

.best-product__btn {
  max-width: 292px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .best-product__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 46px;
    padding-bottom: 69px;
  }

  .best-product__title {
    display: flex;
    flex: 1 0 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 44px;
  }

  .best-product__name {
    font-size: 43px;
    line-height: 50px;
  }

  .best-product__period {
    width: 127px;

    text-align: center;
  }

  .best-product__col {
    flex-basis: 43.7%;

    text-align: left;

    &--desc {
      max-width: 295px;
      margin-bottom: 15px;
    }

    &--img-holder {
      display: flex;
      flex: 1 0 50%;
      justify-content: flex-end;
      margin-bottom: -150px;

      text-align: right;
    }

    &--price {
      max-width: 295px;
    }
  }

  .best-product__desc {
    margin-bottom: 34px;

    font-size: 17px;
    line-height: 30px;
  }

  .best-product__img {
    margin-top: auto;
    margin-left: auto;
  }

  .best-product__price {
    margin-top: 40px;
    margin-bottom: 34px;

    font-size: 20px;
    text-align: center;
  }
}

@media screen and (min-width: 1150px) {
  .best-product__container {
    padding-top: 0;
    padding-bottom: 97px;
    padding-left: 19.565%;
  }

  .best-product__title {
    position: relative;

    justify-content: flex-start;
    margin: 0;

    transform: translateY(124px);
  }

  .best-product__name {
    order: 2;

    font-size: 53px;
    line-height: 57px;
  }

  .best-product__period {
    position: absolute;
    top: 50%;
    left: -160px;

    transform: translateY(-50%);
  }

  .best-product__col {
    &--desc {
      margin-bottom: 69px;
      padding-top: 168px;
    }
  }

  .best-product__desc {
    margin-bottom: 46px;
  }
}
