.btn {
  display: block;
  max-width: 292px;
  padding: 14px 20px;

  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: $btn-color;
  text-transform: uppercase;
  text-decoration: none;

  background-color: transparent;
  border: 2px solid $btn-color;
  cursor: pointer;

  &:hover {
    color: $btn-hover-color;

    background-color: $btn-color;
  }

  &:active {
    color: $btn-active-color;
  }

  &--small {
    max-width: 230px;
  }

  &--fill {
    color: $color-white;

    background-color: $btn-color-downy;
    border: none;
  }

  &--fill:hover {
    background-color: $btn-color-downy-hover;
  }

  &--fill:active {
    color: $color-white;

    opacity: 0.8;
  }
}
