.checkbox {
  position: relative;

  display: flex;
  align-items: center;
  min-height: 40px;

  user-select: none;

  &--color {
    margin-bottom: 21px;
  }

  &--color:last-child {
    margin-bottom: 0;
  }
}

.checkbox__icon {
  position: absolute;
  top: 50%;
  left: 10px;

  display: none;
  width: 22px;
  height: 16px;

  transform: translateY(-50%);
}

.checkbox__input {
  display: none;

  &:checked ~ .checkbox__icon {
    display: block;
  }
}

.checkbox__label {
  position: relative;

  padding-left: 62px;

  font-weight: 700;
  font-size: 17px;
  line-height: 18px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;

    width: 40px;
    height: 40px;
    padding: 9px;

    border: 2px solid #000000;
    transform: translateY(-50%);
  }
}

@media screen and (min-width: 768px) {
  .checkbox {
    min-height: 52px;

    &--color {
      width: 47.704%;
      margin-bottom: 24px;
    }

    &--color:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  .checkbox__icon {
    width: 33px;
    height: 22px;
  }

  .checkbox__label {
    padding-left: 80px;

    font-size: 19px;

    &::before {
      width: 54px;
      height: 52px;
    }
  }
}

@media screen and (min-width: 1167px) {
  .checkbox {
    &--color {
      width: 33.333%;
      margin-bottom: 24px;
    }

    &--color:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }
}
