.contacts {
  padding-top: 35px;
  padding-bottom: 40px;

  font-size: 15px;
  line-height: 30px;
  color: $contacts-color;
}

.contacts__container {
  display: flex;
  flex-wrap: wrap;

  @include container;

  &--btn {
    justify-content: center;
  }
}

.contacts__title {
  width: 100%;
  margin: 0;
  margin-bottom: 26px;

  font-size: 18px;
  line-height: 30px;
  color: $contacts-title-color;
}

.contacts__title-icon {
  display: none;
}

.contacts__row {
  display: flex;
  flex: 1 0 260px;
  margin: 0;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 37px;
  }
}

.contacts__label {
  display: block;
  padding-right: 30px;
}

.contacts__address {
  font-style: normal;
}

.contacts__map-inner {
  height: 457px;
  margin-bottom: 39px;
}

.contacts__btn {
  width: 260px;
}

@media screen and (min-width: 768px) {
  .contacts {
    padding-top: 62px;
    padding-bottom: 57px;

    font-size: 17px;
  }

  .contacts__title {
    position: relative;

    margin-bottom: 49px;

    font-size: 43px;
    line-height: 50px;
  }

  .contacts__title-icon {
    position: absolute;
    display: block;
    top: 50%;
    right: 0;

    width: 48px;
    height: 82px;

    transform: translateY(-50%);
  }

  .contacts__map-inner {
    margin-top: 19px;
    margin-bottom: 55px;
  }

  .contacts__btn {
    width: 230px;
  }
}

@media screen and (min-width: 1150px) {
  .contacts {
    position: relative;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 141px;
    padding-bottom: 105px;
  }

  .contacts__container {
    width: 50%;
    margin: 0;
    padding-left: 19.565%;

    &--btn {
      justify-content: flex-start;
    }
  }

  .contacts__title {
    font-size: 53px;
    line-height: 57px;
  }

  .contacts__title-icon {
    left: -112px;
  }

  .contacts__row {
    &:last-child {
      margin-bottom: 78px;
    }
  }

  .contacts__label {
    padding-right: 24px;
  }

  .contacts__map {
    position: absolute;
    top: 71px;
    right: 4.348%;

    width: 525px;
    margin: 0;
  }

  .contacts__map-inner {
    margin: 0;
  }
}
