.copyright {
  display: flex;
  align-items: center;

  color: $copyright-color;
  text-decoration: none;

  &[href]:active {
    opacity: .3;
  }

  &[href]:hover .copyright__img {
    fill: $copyright-icon-hover;
  }
}

.copyright__text {
  margin-right: 28px;

  font-weight: 700;
  font-size: 19px;
  line-height: 19px;
}

.copyright__img {
  fill: $copyright-icon;
}
