.link {
  line-height: 30px;
  color: $link-color;
  text-decoration: none;

  border-bottom: 1px solid $link-border;

  &:hover {
    color: $link-color-hover;
  }

  &:active {
    opacity: 0.3;
  }
}
