.logo {
  display: flex;
  align-items: center;

  &--footer .logo__img {
    width: 86px;
    height: 35px;
  }

  &--footer .logo__link[href] {
    &:hover {
      opacity: 1;

      fill: $logo-footer;
    }

    &:active {
      opacity: 0.3;

      fill: $logo-footer;
    }
  }
}



.logo__link {
  display: inline-block;

  vertical-align: middle;
}

.logo__link[href] {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.logo__img {
  display: block;
  width: 86px;
  height: 35px;
}

@media screen and (min-width: 768px) {
  .logo__img {
    width: 112px;
    height: 46px;
  }

  .logo--footer .logo__img {
    width: 102px;
    height: 34px;
  }
}

@media screen and (min-width: 1150px) {
  .logo__img {
    width: 149px;
    height: 72px;
  }
}
