@mixin container {
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 30px;

  @media screen and (min-width: 768px) {
    max-width: 1150px;
    padding-right: 6.5%;
    padding-left: 6.5%;
  }

  @media screen and (min-width: 1150px) {
    padding-right: 4.348%;
    padding-left: 4.348%;
  }
}
