.page {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;

  font-size: 17px;
  line-height: 24px;
  font-family: $font;
  color: $page-color;

  background-color: $page;
}

.page__main {
  flex-grow: 1;
}

.page__line {
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 6px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-position: center top;
    background-size: auto 6px;
  }
}

@media screen and (min-width: 768px) {
  .page__line {
    &::after {
      height: 17px;
      background-size: auto 17px;
    }
  }
}

@media screen and (min-width: 1150px) {
  .page__line {
    &::after {
      height: 23px;
      background-size: auto 23px;
    }
  }
}
