.radio {
  display: flex;
  align-items: center;
  min-height: 40px;

  &--prod-type {
    margin-bottom: 19px;
  }

  &--prod-type:last-child {
    margin-bottom: 0;
  }
}

.radio__input {
  display: none;

  &:checked ~ .radio__label::before {
    content: "";
    position: absolute;

    background-color: $radio-icon;
    background-clip: content-box;
  }
}

.radio__label {
  position: relative;

  padding-left: 62px;

  font-weight: 700;
  font-size: 17px;
  line-height: 18px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;

    width: 40px;
    height: 40px;
    padding: 10px;

    border: 2px solid $radio-border;
    border-radius: 50%;
    transform: translateY(-50%);
  }
}

@media screen and (min-width: 768px) {
  .radio {
    min-height: 52px;

    &--prod-type {
      margin-bottom: 25px;
    }
  }

  .radio__label {
    padding-left: 80px;

    font-size: 19px;

    &::before {
      width: 52px;
      height: 52px;
      padding: 14px;
    }
  }
}
