.textfield {
  position: relative;

  display: flex;
  flex-direction: column;
}

.textfield__input {
  height: 50px;

  font-size: 17px;
  line-height: normal;
  color: $textfield-color;

  background-color: transparent;
  border: none;
  border-bottom: 2px solid #000000;
  outline: none;

  &::-webkit-input-placeholder {
    color: rgba($textfield-color, 0.3);
  }

  &::-moz-placeholder {
    color: rgba($textfield-color, 0.3);
  }

  &:-ms-input-placeholder {
    color: rgba($textfield-color, 0.3);
  }

  &:-moz-placeholder {
    color: rgba($textfield-color, 0.3);
  }

  &:hover,
  &:focus {
    border-color: $textfield-input-hover;
  }

  &:hover ~ .textfield__icon,
  &:focus ~ .textfield__icon {
    fill: $textfield-icon-hover;
  }
}

.textfield__icon {
  position: absolute;
  top: 50%;
  right: 0;

  transform: translateY(-50%);

  fill: $textfield-icon;
}

.textfield__label {
  font-weight: 700;
}

.textfield__textarea {
  min-height: 143px;
  padding: 12px 15px;

  border: 2px solid;
  border-color: $textfield-textarea-border;

  resize: none;

  &:hover,
  &:focus {
    border-color: $textfield-input-hover;
  }
}

@media screen and (min-width: 768px) {
  .textfield {
    flex-direction: row;
    align-items: center;
  }

  .textfield__label {
    margin-right: 25px;

    font-size: 19px;
  }

  .textfield__input {
    flex-grow: 1;
    padding-right: 17px;
    padding-left: 17px;

    font-size: 19px;
  }

  .textfield__textarea {
    flex-grow: 1;

    font-size: 19px;
  }
}
